version: '2'
services:
  quotes:
    build:
      context: ./QuoteService
      dockerfile: app.dockerfile
    ports:
      - "5000:5000"
  api:
    build:
      context: ./ApiGateway
      dockerfile: app.dockerfile
    environment:
      - "QUOTES_API=http://quotes:5000"
    depends_on:
      - quotes
    ports:
      - "3000:3000"
    